<template name="nodeTeaser">
	<div class="col-sm-4 nodeTeaser type-{{content.type}}" id="node-{{content.nid}}">
    <div class="content-type">{{content.type}}</div>
		<div class="well">
			<p class="node-title"><strong>{{content.title}}</strong> <small>{{content.nid}}</small></p>
			{{#if thumb}}
				<img src="{{thumb}}" class="img-responsive" alt="{{content.title}}" />
			{{/if}}
			<a href="#" class="btn btn-primary btn-sm edit-node">Edit</a>
			<a href="#" class="btn btn-success btn-sm save-node hide">Save</a>
		</div>
	</div>
</template>